.navBar {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  background-color: rgb(255, 255, 255) !important;
  padding: 15px;
}
.logo {
  height: 62px;
  margin-left: 40px;
}
.list {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-right: 80px;
}
.link {
  color: #a7a7a7;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  transition: 0.5s;
}
.link:hover {
  transition: 0.5s;
  font-size: 1.2em;
}
.link.active {
  color: #098a8a;
  font-size: 1.1em;
}
